# Jykell configuration
markdown: redcarpet
highlighter: pygments
paginate: 5
language: 'de_DE'

# Website info
name: 'Thomas Rehm'
description: "A little page about myself and the stuff I do."

# Author's info
author: 'Thomas Rehm'
# edit 'categories' in the front matter of every post to match this username
nickname: thomas
bio: 'A paranormal expert and his daughter bunk in an abandoned house populated by 3 mischievous ghosts and one friendly one.'
location: 'Bad Vilbel, Germany'
url: 'http://thomasrehm.github.io'
image: 'assets/images/casper.png'

short_url: 'thomasrehm.github.io'
#google_analytics: UA-69281367-1
#disqus: username
# edit baseurl to simply '/' if using as your personal page (instead of a project page)
baseurl: /

# Permalinks
permalink: /:title
# permalink: /author/:username
# permalink: /tag/:tag


# gems and other configs
gems: [jekyll-paginate]
exclude: [vendor]

# Additional settings available on the front-matter
# Site logo in the index.html (as in demo.ghost.io)
# Author's page cover in _layouts/author.html
# The same for page.html and tag.html layouts
# Post's page cover as a per-post basis _posts/...
# Disqus comments as a per-post basis
# ...


# Settings for builing master branch with travis-ci
# with jekyll-travis

# Settings for deploy rake task
# Username and repo of Github repo, e.g.
# https://github.com/USERNAME/REPO.git
# username defaults to ENV['GIT_NAME'] used by Travis
# repo defaults to USERNAME.github.io
# Branch defaults to "source" for USERNAME.github.io
# or "master" otherwise
safe: false
lsi: false
username: thomasrehm
repo: thomasrehm
branch: master
relative_source: ../jasper/
destination: ../jasper-pages/
production_url:  https://thomasrehm.github.io/
source_url:      https://github.com/thomasrehm/jasper/

exclude:
  - README.md
  - Rakefile
  - Gemfile
  - Gemfile.lock
  - changelog.md
  - "*.Rmd"
  - vendor
  - .travis.yml
